.containerNav{
  width: 100%;
  height: 12vh;
  background-color: #facea5c4;
  position: fixed;
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  padding-left: 2rem;
  color: #266D45;
}

.boxdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 555;
}

.sectionLogo{
  width: 250px;
  height: 100vh;
  background-color: #031c0e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.centerImg{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.logoMenu{
  width: 90%;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 60%;
}

li{
  all: unset;
  text-decoration: none;
  cursor: pointer;
  color: #E2E8F0;
  font-size: 1.4rem;
  font-weight:500;
  overflow: hidden;
  padding: 1rem 1rem  0;
  border-top: 6px groove gray;
  /* text-align: center; */
  /* &:hover {
    color: #266D45;
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.3s;
    border-radius: 25px;
  }

  &.active {
    color: #F5A14F;
    font-weight: 700;
    text-transform: uppercase;
    border-right: 6px groove #fff;
    border-left: 6px groove #fff;
    border-radius: 50px;
    border-top: none;
    padding: 1rem 0.5rem;
  } */
}

.logoHeader{
  padding: 1rem 1rem 1rem 0;
  height: 90%;
}
