.containerInfos {
  height:100vh;
  
  /* background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),url(../../assets/photos/Mockup8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; */

  @media (max-width: 1000px) {
    /* background-size: cover;
    background-position: top; */
    height:80vh;
  }
  @media (max-width: 625px) {
    height:60vh;
    background-position: top;
  }
}

.greenInv3{
  width: 100%;
  position: relative;
  z-index: 8;
  margin-top: -25%;
  @media (max-width: 625px) {
    margin-top: -20%;
  }
}

.greenInv1{
  width: 100%;
  position: relative;
  z-index: 10;
  margin-top: -3%;
  @media (max-width: 625px) {
    margin-top: -12%;
    
  }
}