.containerContact {
  position: relative;
  margin-top: -1rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ),url(../../assets/photos/Mockup7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.headerContact{
  position: relative;
  margin-top: 1rem;
}

.waveContact2{
  width: 100%;
  position: relative;
  z-index: 44;
  margin-top: -0.1%;
}

.waveInv2{
  width: 100%;
  position: relative;
  z-index: 8;
  margin-top: -20%;
}

.waveContact1{
  width: 100%;
  position: relative;
  z-index: 8;
  margin-top: -25%;
}

.newWave{
  width: 100%;
  position: relative;
  margin-top: -15%;
}
.newWaveContact{
  width: 100%;
  position: relative;
  /* margin-top: -15%; */
  margin-bottom: -0.5%;
}

.boxEspecialities{

  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 0 2rem 0 2rem;
}
