.containerNavbar{
  width: 100vw;
  height: max-content;
  background-color: #FACEA5;
  /* opacity: 0.8; */
  position: fixed;
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logoweb{
  background-color: #031c0e;
  height: 13vh;
  padding: .5rem 2rem .5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.allItems{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.allItems li{
  all: unset;
  font-size: 24px;
  color: #031c0e;
  opacity: 1;
  cursor: pointer;

    &:hover {
    color: #266D45;
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.3s;
    border-radius: 25px;
  }

  &.active {
    color: #F5A14F;
    font-weight: 700;
    text-transform: uppercase;
    border-right: 6px groove #fff;
    border-left: 6px groove #fff;
    border-radius: 50px;
    border-top: none;
    padding: 1rem 0.5rem;
  }
}