.containerFooter{
  background-color: #266d45;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: -1.5%;
}
.leftFooter{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftFooter p{
  font-size: 1.2rem;
  color: #fff;
  @media (max-width: 800px) {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.rightFooter{
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.rightFooter p{
  font-size: 1rem;
  color: #FFf;
  @media (max-width: 800px) {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  
}

h1{
  font-size: 1.2rem;
}

.leftImg{
  height: 100px;
  margin-right: 1rem;
}

.rightFooter img{
  width: 50px;
  cursor: pointer;
}