.containerFooter{
  height: 12vh;
  background-color: #FACEA5;
  opacity: 0.8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
  padding: 1rem 1rem;
}

.containerFooter p{
  font-size: 1.2rem;
  @media (max-width: 900px) {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

h1{
  font-size: 1.2rem;
}

img{
  height: 100%;
}