.containerEducation {
  background-color: #F5A14F;
  height: 100vh;
}

.waveInverted1{
  width: 100%;
  position: relative;  
}
.waveInverted2{
  width: 100%;
  position: relative;
  z-index: 8;
  margin-top: -17%;
}
